/* Header */
header {
    margin-bottom: 5.625rem;
    position: relative;
}

    header > .navigation-bar {
        --gap: 0;
        justify-content: space-between;
    }

        header > .navigation-bar > .left {
            align-items: center;
        }

            header > .navigation-bar > .left > #menu {
                display: none;
            }

            header > .navigation-bar > .left > .logo {
                margin-right: 3.5rem;
                height: 1.25rem;
                aspect-ratio: 136/20;
                margin-bottom: 0.25rem;
            }

            header > .navigation-bar > .left > ul.navigation-menu {
                color: var(--dark-grayish-blue);
                text-transform: none;
                font-weight: normal;
                list-style-type: none;
                padding: 0;
                margin: 0;
            }

                header > .navigation-bar > .left > ul.navigation-menu > li {
                    margin-right: 2rem;
                    margin-left: 0;
                    display: inline-block;
                }

                    header > .navigation-bar > .left > ul.navigation-menu > li > a {
                        display: inline-block;
                        line-height: 6.75rem;
                        padding-bottom: 0.25rem;
                        color: inherit;
                        text-decoration: inherit; /* no underline */
                    }

                        header > .navigation-bar > .left > ul.navigation-menu > li > a:hover,
                        header > .navigation-bar > .left > ul.navigation-menu > li > a:focus {
                            padding-bottom: 0;
                            border-bottom: 0.25rem solid var(--orange);
                        }

            header > .navigation-bar > .left > .overlay,
            header > .navigation-bar > .left > #menu-close-button {
                display: none;
            }

        header > .navigation-bar > .right {
            align-items: center;
            padding-bottom: 0.25rem;
        }

            header > .navigation-bar > .right > #view-cart-button {
                display: inline-block;
                margin-right: 2.875rem;
                line-height: 5rem;
                vertical-align: middle;
                background-color: inherit;
            }

                header > .navigation-bar > .right > #view-cart-button > span > svg.cart {
                    height: 1.25rem;
                    aspect-ratio: 1;
                    vertical-align: middle;
                }

                header > .navigation-bar > .right > #view-cart-button > span > .cart-num-of-products {
                    position: absolute;
                    top: -0.2rem;
                    right: -0.3rem;
                    width: 1.1875rem;
                    font-weight: bold;
                    font-size: 0.625rem;
                    line-height: 0.8125rem;
                    color: var(--white);
                    background-color: var(--orange);
                    border-radius: 0.40625rem;
                }

                header > .navigation-bar > .right > #view-cart-button:hover > svg.cart,
                header > .navigation-bar > .right > #view-cart-button:focus > svg.cart {
                    fill: var(--very-dark-blue);
                }

            header > .navigation-bar > .right > a {
                display: inline-block;
                line-height: 6.75rem;
                vertical-align: middle;
            }

                header > .navigation-bar > .right > a > .avatar {
                    height: 3.125rem;
                    aspect-ratio: 1;
                    vertical-align: middle;
                    margin: 0.25rem;
                }

                header > .navigation-bar > .right > a:hover > .avatar,
                header > .navigation-bar > .right > a:focus > .avatar {
                    border: 0.25rem solid var(--orange);
                    border-radius: 1.8125rem;
                    height: 3.625rem;
                    margin: 0;
                }

    header > .line {
        border-bottom: 0.0625rem solid var(--gray);
    }

    header > #cart-popup {
        --gap: 0;
        position: absolute;
        bottom: -14.8125rem;
        right: -4.75rem;
        min-width: 22.5rem;
        height: 16rem;
        z-index: 10;
        background-color: var(--white);
        border-radius: 0.625rem;
        box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
        display: none;
    }

        header > #cart-popup > .title {
            flex: 0 0 4.1875rem;
            border-bottom: 0.0625rem solid var(--gray);
            align-items: center;
        }

            header > #cart-popup > .title > div {
                margin-left: 1.5rem;
                line-height: 1rem;
                color: var(--very-dark-blue);
                font-weight: bold;
            }

        header > #cart-popup > .content > #empty-cart {
            color: var(--dark-grayish-blue);
            font-weight: bold;
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
        }

        header > #cart-popup > .content > #full-cart {
            padding: 1.5rem 1.5rem 2rem 1.5rem;
            flex: 1;
        }

            header > #cart-popup > .content > #full-cart > .full-cart-content {
                align-items: center;
                --gap: 0;
                height: 3.25rem;
                margin-bottom: 1.5rem;
            }

            header > #cart-popup > .content > #full-cart > #checkout-cart-button {
                font-weight: bold;
                border-radius: 0.625rem;
                background-color: var(--orange);
                color: var(--white);
                line-height: 1rem;
                padding-top: 1.375rem;
                padding-bottom: 1.125rem;
                width: 100%;
            }

                header > #cart-popup > .content > #full-cart > #checkout-cart-button:hover,
                header > #cart-popup > .content > #full-cart > #checkout-cart-button:focus {
                    background-color: var(--hover-orange);
                }

svg.cart {
    fill: var(--dark-grayish-blue);
}

    svg.cart:hover,
    svg.cart:focus,
    svg.remove-cart-item:hover,
    svg.remove-cart-item:focus {
        fill: var(--very-dark-blue);
    }

svg.remove-cart-item {
    fill: #C3CAD9;
}

/* Main */
main {
    margin: 0 auto;
    width: 63.5rem;
    --gap: 7.8125rem;
}

    main > .product-images {
        flex: 0 0 27.6rem;
    }

        main > .product-images > .desktop {
            display: block;
        }

            main > .product-images > .desktop > button#main-image-button {
                width: 100%;
                border-radius: 0.9375rem;
                height: 27.6rem;
                display: block;
            }

                main > .product-images > .desktop > button#main-image-button > .main-image {
                    width: 100%;
                    border-radius: 0.9375rem;
                }

            main > .product-images > .desktop > .thumbnails {
                margin-top: 2rem;
                --gap: 1.9375rem;
                height: 5.5rem;
                justify-content: space-between;
            }

                main > .product-images > .desktop > .thumbnails > button {
                    flex: 1;
                    border-radius: 0.625rem;
                    position: relative;
                }

                    main > .product-images > .desktop > .thumbnails > button > .overlay {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
                        z-index: 10;
                        display: none;
                        border-radius: 0.625rem;
                    }

                    main > .product-images > .desktop > .thumbnails > button > img {
                        width: 100%;
                        border-radius: 0.625rem;
                    }

                    main > .product-images > .desktop > .thumbnails > button:hover > .overlay,
                    main > .product-images > .desktop > .thumbnails > button:focus > .overlay {
                        display: block;
                    }

                    main > .product-images > .desktop > .thumbnails > button.active > .overlay,
                    main > .product-images > .desktop > .thumbnails > button:active > .overlay {
                        background: linear-gradient(0deg, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75));
                        border: 0.125rem solid var(--orange);
                        display: block;
                    }

        main > .product-images > .mobile {
            display: none;
        }

    main > .product-details {
        margin-top: 3.875rem;
    }

        main > .product-details > .title {
            text-transform: uppercase;
            color: var(--orange);
            margin-bottom: 1.6875rem;
            font-size: 0.8125rem;
            line-height: 0.8125rem;
            font-weight: bold;
        }

        main > .product-details > h1 {
            font-size: 2.75rem;
            font-weight: bold;
            line-height: 3rem;
            margin-bottom: 2rem;
            color: var(--very-dark-blue);
        }

        main > .product-details > .description {
            color: var(--dark-grayish-blue);
            margin-bottom: 1.5rem;
        }

        main > .product-details > .prices {
            margin-bottom: 2rem;
            --gap: 0;
        }

            main > .product-details > .prices > div {
                margin-bottom: 0.625rem;
                --gap: 0;
                align-items: center;
            }

                main > .product-details > .prices > div > .new-price {
                    font-size: 1.75rem;
                    line-height: 1.75rem;
                    font-weight: bold;
                    margin-right: 1rem;
                    display: inline-block;
                }

                main > .product-details > .prices > div > .discount {
                    display: inline-block;
                    padding: 0.4375rem 0.5rem 0.25rem 0.5rem;
                    font-weight: bold;
                    line-height: 1rem;
                    color: var(--orange);
                    background-color: var(--pale-orange);
                    border-radius: 0.375rem;
                }

            main > .product-details > .prices > .old-price {
                font-weight: bold;
                color: var(--grayish-blue);
                text-decoration-line: line-through;
            }

        main > .product-details > .actions {
            --gap: 1rem;
        }

            main > .product-details > .actions > .num-of-products-buttons {
                --gap: 0;
                height: 3.5rem;
                width: 9.875rem;
                align-items: center;
                text-align: center;
                background-color: var(--light-grayish-blue);
                border-radius: 0.625rem;
            }

                main > .product-details > .actions > .num-of-products-buttons > #num-of-products {
                    flex: 1;
                    line-height: 1rem;
                    font-weight: bold;
                    color: var(--very-dark-blue);
                }

                main > .product-details > .actions > .num-of-products-buttons > #minus-button {
                    flex: 1;
                    height: 100%;
                    background-color: var(--light-grayish-blue);
                    border-top-left-radius: 0.625rem;
                    border-bottom-left-radius: 0.625rem;
                }

                    main > .product-details > .actions > .num-of-products-buttons > #minus-button > svg {
                        fill: var(--orange);
                    }

                    main > .product-details > .actions > .num-of-products-buttons > #minus-button:hover > svg,
                    main > .product-details > .actions > .num-of-products-buttons > #minus-button:focus > svg {
                        fill: var(--hover-orange);
                    }

                main > .product-details > .actions > .num-of-products-buttons > #plus-button {
                    flex: 1;
                    height: 100%;
                    background-color: var(--light-grayish-blue);
                    border-top-right-radius: 0.625rem;
                    border-bottom-right-radius: 0.625rem;
                }

                    main > .product-details > .actions > .num-of-products-buttons > #plus-button > svg {
                        fill: var(--orange);
                    }

                    main > .product-details > .actions > .num-of-products-buttons > #plus-button:hover > svg,
                    main > .product-details > .actions > .num-of-products-buttons > #plus-button:focus > svg {
                        fill: var(--hover-orange);
                    }

            main > .product-details > .actions > #add-to-cart-button {
                border-radius: 0.625rem;
                background-color: var(--orange);
                --gap: 0.97125rem;
                padding: 1.1875rem 4.75rem 1.125rem 4.8125rem;
                color: var(--white);
                flex-wrap: nowrap;
            }

                main > .product-details > .actions > #add-to-cart-button:hover,
                main > .product-details > .actions > #add-to-cart-button:focus {
                    background-color: var(--hover-orange);
                }

/* ------------------- */
/* Mobile view         */
/* ------------------- */
@media only screen and (max-width : 767px) {
    header {
        margin-top: 1rem;
        margin-bottom: 1.4rem;
    }

        header > .navigation-bar > .left > #menu {
            height: 1rem;
            display: block;
        }

        header > .navigation-bar > .left > .logo {
            margin: 0 0 0 1.066rem;
            height: 1.33rem;
        }

        header > .navigation-bar > .left > ul.navigation-menu {
            display: none;
        }

            header > .navigation-bar > .left > ul.navigation-menu.mobile {
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                width: 16.66rem;
                height: 100vh;
                background-color: var(--white);
                z-index: 13;
                display: flex;
                flex-direction: column;
                padding: 6.133rem 0 0 1.666rem;
            }

                header > .navigation-bar > .left > ul.navigation-menu.mobile > li > a {
                    line-height: 1.733rem;
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: var(--very-dark-blue);
                    padding-bottom: 1.333rem;
                }

                    header > .navigation-bar > .left > ul.navigation-menu.mobile > li > a:focus,
                    header > .navigation-bar > .left > ul.navigation-menu.mobile > li > a:hover {
                        padding-bottom: 1.083rem;
                    }

        header > .navigation-bar > .left > .overlay.mobile {
            display: block;
            z-index: 12;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--black);
            opacity: 0.75;
        }

        header > .navigation-bar > .left > #menu-close-button.mobile {
            position: fixed;
            top: 1.6rem;
            left: 1.6rem;
            display: block;
            z-index: 13;
            background-color: transparent;
        }

        header > .navigation-bar > .right {
            padding-bottom: 0;
        }

            header > .navigation-bar > .right > #view-cart-button {
                margin-right: 1.466rem;
                line-height: inherit;
            }

                header > .navigation-bar > .right > #view-cart-button > span > svg.cart {
                    height: 1.33rem;
                }

            header > .navigation-bar > .right > a {
                line-height: inherit;
            }

                header > .navigation-bar > .right > a > .avatar {
                    height: 1.6rem;
                }

                header > .navigation-bar > .right > a:hover > .avatar,
                header > .navigation-bar > .right > a:focus > .avatar {
                    height: 2.1rem;
                }

        header > .line {
            border-bottom: 0;
        }

        header > #cart-popup {
            bottom: unset;
            right: -1.133rem;
            top: 4.266rem;
            width: 24rem;
            height: 17.066rem;
            border-radius: 0.666rem;
        }

            header > #cart-popup > .title {
                flex: 0 0 4.466rem;
            }

            header > #cart-popup > .content > #full-cart {
                padding: 1.6rem 1.6rem 2.133rem 1.6rem;
            }

                header > #cart-popup > .content > #full-cart > .full-cart-content {
                    height: 3.4rem;
                    margin-bottom: 1.6rem;
                }

                header > #cart-popup > .content > #full-cart > #checkout-cart-button {
                    border-radius: 0.666rem;
                    line-height: 1.066rem;
                    padding-top: 1.466rem;
                    padding-bottom: 1.2rem;
                }

    main {
        margin: 0;
        width: 100%;
        flex-direction: column;
        --gap: 0;
    }

        main > .product-images {
            flex: 0 0 20rem;
        }

            main > .product-images > .desktop {
                display: none;
            }

            main > .product-images > .mobile {
                display: block;
                margin: 0 -1.6rem;
                position: relative;
            }

                main > .product-images > .mobile > .main-image {
                    width: 100%;
                    aspect-ratio: 375/300;
                    display: block;
                }

                main > .product-images > .mobile > #main-previous-button {
                    background-color: var(--white);
                    width: 2.66rem;
                    height: 2.66rem;
                    top: 8.66rem;
                    left: 1.066rem;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    border-radius: 1.33rem;
                }

                main > .product-images > .mobile > #main-next-button {
                    background-color: var(--white);
                    width: 2.66rem;
                    height: 2.66rem;
                    top: 8.66rem;
                    right: 1.066rem;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    border-radius: 1.33rem;
                }

                    main > .product-images > .mobile > #main-previous-button > svg,
                    main > .product-images > .mobile > #main-next-button > svg {
                        width: 0.38rem;
                        height: 0.762rem;
                        stroke: var(--very-dark-blue);
                    }

                    main > .product-images > .mobile > #main-previous-button:hover > svg,
                    main > .product-images > .mobile > #main-previous-button:focus > svg,
                    main > .product-images > .mobile > #main-next-button:hover > svg,
                    main > .product-images > .mobile > #main-next-button:focus > svg {
                        stroke: var(--orange);
                    }

        main > .product-details {
            margin-top: 1.6rem;
        }

            main > .product-details > .title {
                margin-bottom: 1.266rem;
            }

            main > .product-details > h1 {
                font-size: 1.866rem;
                line-height: 2.133rem;
                margin-bottom: 1rem;
            }

            main > .product-details > .description {
                margin-bottom: 1.6rem;
            }

            main > .product-details > .prices {
                margin-bottom: 1.6rem;
                flex-direction: row;
                justify-content: space-between;
                min-height: 2.266rem;
            }

                main > .product-details > .prices > div {
                    margin-bottom: 0;
                }

                    main > .product-details > .prices > div > .new-price {
                        font-size: 1.866rem;
                        line-height: 1.866rem;
                        margin-right: 1.066rem;
                    }

                    main > .product-details > .prices > div > .discount {
                        padding: 0.466rem 0.533rem 0.266rem 0.533rem;
                        font-size: 1.066rem;
                        line-height: 1.066rem;
                        border-radius: 0.4rem;
                    }

                main > .product-details > .prices > .old-price {
                    font-size: 1.066rem;
                    line-height: 1.733rem;
                }

            main > .product-details > .actions {
                --gap: 1.066rem;
                flex-direction: column;
            }

                main > .product-details > .actions > .num-of-products-buttons {
                    height: 3.733rem;
                    width: 100%;
                    border-radius: 0.666rem;
                }

                    main > .product-details > .actions > .num-of-products-buttons > #num-of-products {
                        font-size: 1.066rem;
                        line-height: 1.066rem;
                    }

                main > .product-details > .actions > #add-to-cart-button {
                    border-radius: 0.666rem;
                    padding: 1.333rem 0 1.333rem 0;
                    --gap: 1.036rem;
                    width: 100%;
                    justify-content: center;
                }
}
